.teamContainer1 {
  @apply flex flex-wrap justify-center items-center gap-12 py-20;
}

.memberBox {
  @apply max-w-[370] border rounded-tr-[22px] rounded-tl-[22px] bg-[var(--secBg)];
}

.memberContent {
  @apply py-10 px-8 space-y-5;
}

.memberName {
  font-size: var(--fs-f);
  @apply capitalize font-semibold;
}

.memberDesc {
  @apply text-[var(--text-color1)];
}

.memberStars {
  @apply flex items-center gap-1;
}

.memberStars > * {
  @apply fill-amber-500 text-amber-500;
}

.memberSocials {
  @apply flex items-center gap-4;
}

.memberSocials a {
  @apply bg-[var(--main-theme)] h-16 w-16 flex justify-center items-center rounded-full p-2 hover:bg-green-600 transition;
}

.memberSocials a > * {
  @apply text-white;
}

.teamContainer2 {
  @apply flex items-center justify-between pt-20 flex-col min-[992]:flex-row gap-20 min-[992]:gap-10;
}

.teamContent {
  @apply max-w-[527px];
}

.teamContent h2 {
  font-size: var(--fs-k);
  @apply font-semibold;
}

.teamContent p {
  @apply text-[var(--text-color1)] mt-4 mb-8;
}

.teamFeatures {
  @apply flex flex-col gap-2 mb-12;
}

.teamFeature {
  @apply flex items-center gap-3;
}

.teamFeatureTick {
  @apply bg-[var(--main-theme)] p-2 rounded-full text-white;
}

.teamFeatureName {
  font-size: var(--fs-b);
  @apply capitalize bg-gray-200 dark:bg-[var(--secBg)]  py-1 px-3 rounded-lg;
}

.teamButtons {
  @apply flex items-center gap-6;
}

.teamButtons button {
  @apply px-8 py-3 rounded-md border border-[var(--text-color0)] hover:text-white hover:bg-[var(--main-theme)] hover:border-[var(--main-theme)] transition duration-300;
}
